
.coloredSquare,
.blankSquare {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.coloredSquare {
    background-color: darksalmon;
}
.blankSquare {
    background-color: antiquewhite;
}