.gameInfoPanel {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: sans-serif;
    margin-top: 10%;
}

.gameId,
.gameState {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.gameId strong,

.gameState div,
.gameState strong {
    background-color: white;
}

.flipButton {
    padding: 10px 16px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 330px;
}

.flipButton:hover {
    background-color: #444;
}




