
.gamePage h1 {
    text-align: center;
    margin-top: 5vh;
    font-size: 50px;
}


.gameContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}

.homeButton {
    border: none;
    font-size: 50px;
    margin: 0;
}