
.gameContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}